{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "requireConfigFile": false,
    "babelOptions": {
      "parserOpts": {
        "plugins": ["typescript", "vue"]
      }
    }
  },

  "extends": ["@nuxt/eslint-config", "plugin:vue/vue3-recommended"],
  "rules": {
    "vue/multi-word-component-names": "off"
  }
}
